{% extends "base.html" %} {% load staticfiles %}{% block title %}
<title>{PRODUCTNAME} | WOTAN</title>
{% endblock %} {% block main %}
<div class="general-subhead">
    <h3 id="beside-glyphicon-word">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </h3>
    <h1>演算法資訊</h1>
</div>
<!--./ Gereral Subhead End -->
<section>
    <div class="new-container-fluid">
        <div class="blog-single">
            <div class="page-header">
                <h1><strong>演算法名稱01</strong></h1>
            </div>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>描述</strong></h2>
                    <br>
                    <p>
                        {{algorithm_info.info}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>使用方法</strong></h2>
                    <br>
                    <pre>
                      {{algorithm_info}}
                      {{algorithm_info.user_manual}}
                    </pre>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>數據時間</strong></h2>
                    <br>
                    <h4>{{algorithm_info.data_start}} - {{algorithm_info.data_end}}</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1 col-xs-1"></div>
                <div class="col-md-3 col-xs-3 col-xs-3">
                    <h2><strong>開發者</strong></h2>
                    <br>
                    <h4><a href="">{{algorithm_info.editor}}</a></h4>
                </div>
                <div class="col-md-3 col-xs-3 col-xs-3">
                    <h2><strong>發布日期</strong></h2>
                    <br>
                    <h4>{{algorithm_info.publish_date}}</h4>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-xs-3">
                    <h2><strong>最近更新日期</strong></h2>
                    <br>
                    <h4>{{algorithm_info.last_update}}</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-9 col-xs-9">
                    <h2><strong>定價</strong></h2>
                    <br>
                    <h4>NTD ${{algorithm_info.unit_price}} /月</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-4 col-xs-3"></div>
                <div class="col-md-4 col-xs-6">
                    <form action="/sales/buying" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="userid" value="{{request.user.id}}">
                        <input type="hidden" name="sales_id" value="{{algorithm_info.sales_id}}">
                        <!-- 如果是自己寫的演算法，不能購買就顯示下面這個disabled -->
                        {% ifnotequal request.user.id algorithm_info.editor_id %}
                        <input class="btn btn-lg btn-block btn-primary" type="submit" value="購買"> {% else %}
                        <input class="btn btn-lg btn-block btn-primary" type="submit" value="購買" disabled> {% endifnotequal %}
                    </form>
                </div>
            </div>
            <hr>
        </div>
        <div class="row blog-comments">
            <h2 class="page-header"><strong>　評論 :</strong></h2>
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-9 col-xs-9">

                <ul class="media-list">
                    {% for commend in commends%}
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="{% static 'assets/img/user2.png' %}'" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{commend.name}}</h4>
                            <p>
                                {{ commend.contain}}

                            </p>
                        </div>
                    </li>
                    <hr> {% endfor %}
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle" src="assets/img/user2.png" alt="" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{user.get_username}}</h4>
                            <form action="/sales/response" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Message"></textarea>
                                    <input name='ac_id' id="ac_id" value="{{algorithm_info.code_id}}" type="hidden"></input>
                                </div>
                                <input type="submit" class="btn btn-primary" value="回應此主題" name="">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--./ footer-sec  End -->
{% endblock %}