{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

    {% block title %}
    <title> | WOTAN</title>
    {% endblock %}

    <!-- Normaliz Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <!--  Bootstrap Style -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Font-Awesome Style -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--  Font-Awesome Animation Style -->
    <link href="{% static 'assets/css/font-awesome-animation.css' %}" rel="stylesheet" />
    <!--  Pretty Photo Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/css/prettyPhoto.css" rel="stylesheet" />
    <!--  Google Font Style -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--  Custom Style -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <!-- 瀏覽器標籤小圖示 -->
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"> {% block othercss %} {% endblock %}
    <!-- Modernizr -->
    <script src="{% static 'assets/js/modernizr.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    <style type="text/css">
        .cd-switcher {
            text-align: center;
        }

        .new-container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: 7.5%;
            margin-left: 7.5%;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top menu-back main-nav">
        <div class="new-container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/">
                        <img src="{% static 'assets/img/logo.png' %}" class="navbar-brand-logo " alt="" />
                        <span>WOTAN</span>
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse main-nav">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a href="/algorithm">編輯器 <i class="glyphicon glyphicon-pencil"></i>
                        <span>Editor</span>
                    </a>
                    </li>
                    <li>
                        <a href="/sales">上架列表 <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span>Products</span>
                    </a>
                    </li>
                    <li>
                        <a href="/contact_us">聯絡我們 <i class="fa fa-globe"></i>
                        <span>Contact</span>
                    </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <!-- after login :userpage_list.html -->
                    <li>
                        <a href="/user">我的帳戶 <i class="fa fa-globe"></i>
                            <span>Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">登出 <i class="glyphicon glyphicon-log-out"></i>
                            <span id="logout">Logout</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a class="cd-signin" href="#0">登入 <i class="glyphicon glyphicon-user"></i>
                            <span>Log in</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="cd-user-modal">
        <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container">
            <!-- this is the container-fluid wrapper -->
            <ul class="cd-switcher">
                <li><a href="#0">登入</a></li>
                <li><a href="#0">註冊</a></li>
            </ul>
            <div id="cd-login">
                <!-- log in form -->
                <form class="cd-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signin-email">電子郵件</label>
                        <input class="full-width has-padding has-border" type="email" name="username" value="" id="signin-email" placeholder="電子郵件">
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signin-password">密碼</label>
                        <input class="full-width has-padding has-border" name="password" value="" id="signin-password" type="password" placeholder="密碼">
                        <a href="#0" class="hide-password">顯示</a>
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">記住我</label>
                    </p>
                    <p class="fieldset">
                        <input class="full-width" type="submit" value="登入">
                    </p>
                    <p><a href="/forget_passwd">忘記密碼?</a></p>
                </form>
            </div>
            <!-- cd-login -->
            <!-- sign up form -->
            <div id="cd-signup">
                <form class="cd-form">
                    {% csrf_token %}
                    <p class="fieldset">
                        <label class="image-replace cd-username" for="signup-username">使用者名稱</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" name="username" placeholder="使用者名稱" required>
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="signup-email">電子郵件</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" name="email" placeholder="電子郵件" required>
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">密碼</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" name="password" placeholder="密碼" required>
                        <a href="#0" class="hide-password">顯示</a>
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace cd-password" for="signup-password">再次輸入密碼</label>
                        <input class="full-width has-padding has-border" id="re_signup-password" type="password" placeholder="再次輸入密碼" required>
                        <a href="#0" class="hide-password">顯示</a>
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">我同意<a href="/term">使用條款</a></label>
                    </p>
                    <p class="fieldset">
                        <input class="full-width has-padding" id="register" type="submit" value="註冊">
                    </p>
                </form>
                <a href="#0" class="cd-close-form">關閉</a>
            </div>
            <!-- cd-signup-->
            <div id="cd-reset-password">
                <!-- reset password form -->
                <p class="cd-form-message">請輸入您的電子郵件地址。我們將傳送一組連結到該位址讓您重設密碼。</p>
                <form class="cd-form">
                    <p class="fieldset">
                        <label class="image-replace cd-email" for="reset-email">電子郵件</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="cd-error-message">輸入有誤!</span>
                    </p>
                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="重設密碼">
                    </p>
                </form>
                <p class="cd-form-bottom-message"><a href="#0">回到登入畫面</a></p>
            </div>
            <!-- cd-reset-password -->
            <a href="#0" class="cd-close-form">關閉</a>
        </div>
        <!-- cd-user-modal-container-fluid -->
    </div>


    <!-- /.modal -->
    <!-- cd-user-modal -->

    {% block main %} {% endblock %}
    <div id="footser-end" style="z-index:10">
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    2017 All Rights Reserved | by: <a href="/" target="_blank" style="color:#fff">NCCU-WOTAN</a>
                </div>
            </div>
        </div>
    </div>
    <!--./ footer-end End -->
    <!--  Jquery Core Script -->
    <!--  Core Bootstrap Script -->
    <!--  Custom Scripts -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script type="text/javascript">
        $('#logout').click(function() {
            alert("logout!")
        })
        $('#register').click(function() {
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
            $.ajax({
                type: "POST",
                url: '/register',
                data: {
                    "username": $('#signup-username').val(),
                    "email": $('#signup-email').val(),
                    "password": $('#signup-password').val()
                },
                success: function(data, status) {
                    alert("恭喜註冊成功，開始享受吧")
                    window.location.href = "/"
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('嘖嘖 你有東西還沒搞定喔~');
                }
            });
        });

        var password = document.getElementById("signup-password"),
            confirm_password = document.getElementById("re_signup-password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <!-- Gem jQuery -->
    {% block otherjs %} {% endblock %}
</body>
