{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>聯絡我們 | WOTAN</title>
{% endblock %} {% block main %}
<!--./ Social Div End -->
<div class="general-subhead">
    <h3 id="beside-glyphicon-word">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </h3>
    <h1>聯絡我們</h1>
</div>
<!--./ Gereral Subhead End -->
<section>
    <div class="new-container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-6  col-sm-12">
                <h3>聯絡資訊</h3>
                <hr />
                <p>
                    11605 臺北市文山區指南路二段64號
                    <br /> 電話: 02-2939-3091
                    <br /> 電子信箱: mis@nccu.edu.tw
                    <br />
                </p>
                <h3>分享我們</h3>
                <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-12">
                <h3>直接聯絡我們</h3>
                <hr />
                <form method="post" action="/send_feedback">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="user_name" id="user_name" required="required" placeholder="請輸入名稱" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" id="email" required="required" placeholder="請輸入電子信箱" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" name="message" id="message" required="required" class="form-control" rows="4" placeholder="請輸入欲傳達內容"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<!--./ Main Contact end -->
<div>
    <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14465.482884519897!2d121.576074!3d24.987516!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e8d07508e3bf507!2sNational+Chengchi+University!5e0!3m2!1sen!2stw!4v1488942998086"></iframe>
</div>

{% endblock %}