{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>忘記密碼</title>
{% endblock %}

{% block main %}
<!--./ Social Div End -->
<div class="general-subhead">
    <h3 id="beside-glyphicon-word">
        <a href="javascript:history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
    </h3>
    <h1>重設密碼</h1>
</div>
<section>
<br><br><br><br><br>
  <div class="new-container-fluid">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6" style="text-align:center;">
      <h1>請輸入您的電子信箱</h1>
      <h4>我們將在一小時內寄出重設密碼信至您的信箱</h2>
      <br><br>
      <div class="form-group">
        <input class="form-control" type="email" name="email" value="您註冊時所登記的信箱">

      </div>
      <br><br>
      <button type="button" class="btn btn-success btn-lg">送出</button>
      </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
</section>
{% endblock %}
