{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>Wotan</title>
{% endblock %} {% block main %}
<!--./ Social Div End -->
<div id="index2-header">
    <div class="overlay">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h1>歡迎來到 WOTAN </h1>
                    <p>
                        這是一個提供演算法交易的平台，客戶可自行編撰自己的演算法，亦可瀏覽購買其他客戶的演算法
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" style="padding-left:50px;padding-right:50px;" onclick="location.href='/algorithm'">開始體驗</button>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
<!--./ Main Slider End -->
<!-- <div id="welocme-note">

        <div class="welcome-div">
            <i class="fa fa-paper-plane-o fa-2x"></i><span>WELCOME GUEST, HOW YOU FEELING ?  </span>
        </div>

    </div> -->
<!--./ Welcome Section End -->
<section id="home-service" style="margin-top:20px;">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <i class="fa fa-desktop fa-5x  icon-round  faa-ring animated"></i>
                <h4><strong>即時觀測</strong> </h4>
                <p>
                    我們強調能讓使用者在編輯自己的演算法後，可馬上觀測演算法的預測效果
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4">
                <i class="fa fa-paper-plane-o  fa-5x icon-round  faa-pulse animated"></i>
                <h4><strong>免費開源資料</strong> </h4>
                <p>
                    提供使用者完整且免費的歷年基金資料供使用者使用，以利於預測未來趨勢
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-4">
                <i class="fa fa-bullhorn  fa-5x icon-round faa-horizontal animated"></i>
                <h4><strong>演算法交易</strong></h4>
                <p>
                    提供使用者上傳演算法的列表，方便顧客瀏覽、購買並使用，讓不會寫演算法的顧客也能輕鬆享受演算法帶來的好處
                </p>
            </div>

        </div>

    </div>
</section>
<!--./ Home Service End -->
<!--
<section id="vedio-sec">
    <div class="container">
        <div class="row pad-top-botm" style="text-align:center">
            <div class="col-lg-6 col-md-6">
                <h2>如何使用？ </h2>


                <iframe class="vedio-style" src="https://www.youtube.com/embed/10Azx7egu8M"></iframe>

                <button class="btn btn-primary" type="button">
                        了解更多 <span class="badge">+</span>
                    </button>
            </div>

        </div>
    </div>
</section>-->

<section id="service-info">
    <div class="container">

        <div class="row pad-top-botm">
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <img src="{% static 'assets/img/coding.png' %}">

                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">開發</h3>
                        <p>
                            WOTAN提供Python語言的開發環境，您可以在編輯器裡編撰您獨創的基金演算法。 您隨時可以儲存編輯進度，日後再接續此進度進行編輯。
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <img src="{% static 'assets/img/test.png' %}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">測試</h3>
                        <p>
                            能及時運用網頁所提供之歷年基金資料來觀察演算法的預測結果．
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <img src="{% static 'assets/img/cloud-computing.png' %}">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">發佈</h3>
                        <p>
                            當使用者滿意自己演算法的測試結果後，就可以將演算法上架至平台販售·藉此吸引投資人付費，用來預測及參考。
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <h1><strong>帳戶管理</strong> </h1>
                        <p>
                            登入後，會員可進入個人頁面管理已購買的演算法、已上架的演算法。 經由已購買演算法之列表，使用者可以得知此演算法由何人所寫、使用期限以及購買金額。 在已上架的演算法列表則可以觀察每支演算法的販售情況。 未設計完成的演算法列表將會儲存在資料庫中，下次進入編輯頁面，選擇後將可直接重新編輯。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                    <h1><strong>購買及使用</strong> </h1>
                    <p>
                        使用者能在上架列表中搜尋演算法，可以得知作者對此演算法的描述、使用方法、定價及評論等資訊。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <h1><strong>評論</strong> </h1>
                        <p>
                            使用者在購買演算法之前，可以參考曾用過的使用者對此演算法的評論，以決定是否購買。我們強烈推薦當使用者 使用過某演算法後，都能給出一些評論，以提供之後的使用者做參考。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row pad-top-botm">
            <div class="col-lg-1 col-md-1">
                <h1><strong>成員</strong> </h1>

            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <div class="img-header">
                        <img src="{% static 'assets/img/group_photo/sc.png' %}" width="64" height="64">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">邵亮華</h3>
                        <p>
                            Chief Executive Officer
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <div class="img-header">
                        <img src="{% static 'assets/img/group_photo/bt.png' %}" width="64" height="64">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">杜彥豪</h3>
                        <p>
                            Creative Director
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <div class="img-header">
                        <img src="{% static 'assets/img/group_photo/sj.png' %}" width="64" height="64">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">林劭潔</h3>
                        <p>
                            Chief Marketing Officer
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <div class="img-header">
                        <img src="{% static 'assets/img/group_photo/qj.png' %}" width="64" height="64">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">陳彥哲</h3>
                        <p>
                            Chief Operating Officer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2  col-md-2">
                <div class="media">
                    <div class="img-header">
                        <img src="{% static 'assets/img/group_photo/me.png' %}" width="64" height="64">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">陳樺威</h3>
                        <p>
                            Chief Technology Officer
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>
</section>


{% endblock %}
